<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		<!-- 这个benas工厂被DispatcherServlet所用。 -->
		<!-- 这个bena是配置请求的URL和Bean名字映射.
			 当这个bean的类型是SimpleUrlHandlerMapping，可以配置一个属性property。
			 其中key是访问的url地址。可以使用通配符。value是处理器的bean-name。
			 也就是说，在bean的配置中，必须有一个处理器的bena-name是value的值。
			 才能把url地址和处理器映射起来
		-->
		<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">  
   			<property name="mappings">	
				<props>
					<prop key="/config.*">config</prop>
				</props>
			</property>
		</bean>
			
		<!-- InternalResourceViewResolver：用于支持Servlet、JSP视图解析；
   			 viewClass：JstlView表示JSP模板页面需要使用JSTL标签库，classpath中必须包含jstl的相关jar包；
    		 prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀），
    		 比如传进来的逻辑视图名为hello，则该该jsp视图页面应该存放在“根目录下/hello.jsp”； -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
    		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
    		<property name="prefix" value="/"/>  
    		<property name="suffix" value=".jsp"/>  
		</bean>  
		<!-- 配置哪个url请求由那个控制器来处理 -->
		<bean name=" config" class="com.Springmvc.controller.ConfigController"></bean>
</beans>