<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 定义一个DAO的Bean对象，起名为u ,该bean对象里面有两个成员变量，并给他们赋值-->
    <bean id="userDao" class="com.Spring.DAO.UserDAOMySQLimplement">
    	<property name="datasource" ref="dataSource"/>
    </bean>
	<!-- 定义一个Bean对象，起名为Service,该对象有一个引用型成员变量，名字叫dao，指向u这个bean对象 -->
    <bean id="Service" class="com.Spring.Service.UserService">
    	<property name="dao" ref="userDao"/>
    </bean>
    <!-- 定义一个数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost/Spring"/>
	    <property name="username" value="root"/>
	    <property name="password" value="tiger"/>
	</bean>
    
   
   


</beans>